#search{
    height: 40px;
    width: 200px;
    border-width: 2px;
    border-color: lightseagreen;
    border-radius: 40px;
    border-style: solid;
    color: lightseagreen;
    font-size: 20px;
    font-family: monospace;
    font-weight: bold;
    margin: 70px 20px 10px 70px;
}
#mas{
    height: 40px;
    width: 40px;
    background-color: aquamarine;
    border-color: aquamarine;
    border-radius: 40px;
    border-style:solid;
    color: white;
    font-size: 25px;
    margin: 20px 20px 10px 70px;
}
#create{
    height: 40px;
    width: 270px;
    background-color: dodgerblue ;
    color: white;
    font-size: 20px;
    border-style: solid;
    box-shadow: 5px 5px 0px black;
    margin: 20px 20px 20px 70px;
}

